<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ExceptionLogPath" value="c:\TEMP\OportunidadesCRM"/>
    <add key="URI" value="https://sandboxbusinessit.crm.dynamics.com//XRMServices/2011/Organization.svc"/>
    <add key="USER" value="admin-crm@grupobusiness.it"/>
    <add key="PASS" value="Inicio100"/>
    <add key="DEVICE" value="11146yq9dur9equ0r53a15yc4g"/>
    <add key="DEVICE_PASS" value="FbTk4#wOT(k=~OY2xWsIr*5M"/>
  </appSettings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
</configuration>
